{
  "extends": "rackt",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": [2,2],
    "jsx-quotes": [2, "prefer-single"],
    "no-unused-vars": 0
  },
  "plugins": [
    "react"
  ]
}
